@elabcom rc file Version 1.0
[oh]
invokeDir = /home/milo/ICCodes/mcu_verify
hostCommand = -lib simv.daidir/work -elab simv.daidir/kdb -simflow -top "TopTb " -Lf work -SNPS_ELABCOM -saveElab
simType = VCS
